<!DOCTYPE html>
<html>
  <head>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="/app.js"></script>
  </head>
  <body>


<h1>Random Chat</h1>


<p>Your name: <input type="text" name="name" id="name"/></p>


<form id="postMsg" action="/">
  <p>Post a message: <input size="100" type="text" name="msg" id="msg"/></p>
</form>


<div id="messages">

</div>

  </body>
</html>

